body{
	background: orange;
	width: 100%;
	overflow-x: hidden;
}
.header{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	border-style: dashed;
	border-width: 2px;
	border-radius: 5px;
	border-color: darkblue;
}
.footer{
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.footer p {
	
}
.content{
	display: flex;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 5%;
	position: relative;
	justify-content: space-around;
	flex-flow: column;
}
#image{
	width: 250px;
	height: 400px;
	text-align: center;
	margin: auto;
}
.button1{
	width: 50px;
	text-align: center;
	margin: auto;
	border-style: solid;
	border-color: black;
	border-radius: 2px;
}
.site1{
	background: grey;
}
.site2{
	background: orange;
	text-align: center;
}
.site2 h1{
	margin-bottom: 60px;
}
.content2{
	display: flex;
	align-content: space-between;
	flex-flow: row wrap;
	justify-content: center;
}
iframe{
	display: flex;
	margin: 10px;
}
